* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }
body {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }
main {
    width: 100%;
  }
header {
    padding: 10px;
  }
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.name-cecode {
    color: #1B71A3;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.name-lab {
    color: #1B71A3;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 8px;
  }
.ajuda {
    color:black;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6vh;
}
.Dados {
    color: #1B71A3;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 10%;;
    text-align: left;
}
.Help-form .help-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Help-form .help-data select {
  color: #666;
}
.Help-form .help-data select,
.Help-form .help-data input {
  margin-bottom: 10px; 
  padding: 20px; 
  font-size: 16px; 
  border: 1px solid #9A9A9A;
  border-radius: 8px;
  box-sizing: border-box; 
  width: 80%; 
}
.Help-form .help-data .data-comentario {
  height: 200px;
}
.Help-form .help-data select {
  width: 80%;
}
.informacoes-help {
  color: #1B71A3;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  margin-right: 10%;
}
.form-enviar{
  color: #1B71A3;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 10%;
  margin-right: 10%;
}
#concordo{
  transform: scale(1.5);
}
.button-form{
  display: flex;
  width: 100%;
  height: 36px;
  padding: 8px 14px 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Brand-Brand-700, #1D4ED8);
  color: white;
  margin: 24px 0px 24px 0px;
}
.title{
  color: #1B71A3;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 10%;
  margin-right: 10%;
}
#icon-help{
  margin-left: 15%;
  margin-right: 15%;
}
.text-form-sac{
  color: #1B71A3;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 15%;
  margin-right: 15%;
}
.text-form-sac > p:first-child {
  font-weight: bold;
}
ooter {
  display: flex;
  width: 100%;
  height: 10rem;
  flex-shrink: 0;
  background: #F7F7F9;
  justify-content: center;
  align-items: center;
}
.message-footer {
  text-align: center;
}









