* {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
}

.info, .screeshot-system {
  display: block;
  justify-content: center;
  align-items: center;
  width: 40rem;
  flex-shrink: 0;
  border-radius: 44px;
  background: #F3F7FC;
  margin: 1rem;
}

.text-top {
  display: flex;
  padding: 1rem;
}

.text-top p {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-services {
  list-style: none;
}

.list-services li {
  padding: 0.3rem;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 1rem;
}

.text-sing {
  width: 100%;
  display: flex;
  margin-left: 1rem;
}

.text-sing-up p {
  display: flex;
  margin-left: 1rem;
  width: 88%;
  height: 86px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #14627A;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.signature {
  width: 200px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #0050DC;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.signature p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}