* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #464646;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.name-cecode a {
  color: #1B71A3;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-lab a {
  color: #1B71A3;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 4px;
}

.name-cecode a, .name-lab a {
  text-decoration: none;
}

.name-cecode a:hover, .name-lab a:hover {
  color: #1B71A3;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-menu-item {
  margin: 0px 16px;
}

.menu-link {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 400;
  color: #1B71A3;
}

.menu-mobile:hover {
  border: #1B71A3;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login-btn button {
  background-color: #1B71A3;
  border: none;
  height: 126%;
  padding: 12px 16px;
}

.login-btn button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.content {
  width: 100%;
  display: flex;
}

.info, .screeshot-system {
  display: block;
  justify-content: center;
  align-items: center;
  width: 40rem;
  flex-shrink: 0;
  border-radius: 44px;
  background: #F3F7FC;
  margin: 1rem;
}

.text-top {
  display: flex;
  padding: 1rem;
}

.text-top p {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #363434;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-services {
  list-style: none;
}

.list-services li {
  padding: 0.3rem;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 1rem;
}

.text-sing {
  width: 100%;
  display: flex;
  margin-left: 1rem;
}

.text-sing-up p {
  display: flex;
  margin-left: 1rem;
  width: 88%;
  height: 86px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #14627A;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.signature {
  border: none;
  width: 200px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #0050DC;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.signature:hover {
  scale: 1.05;
}

.signature p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.screeshot-system {
  display: flex;
  justify-content: center
}

.screeshot-system div img {
  width: 600px;
}

.screeshot-system div img:hover {
  scale: 1.03;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1B71A3;
  box-shadow: 4px 2px 3px 2px #464646;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  margin:24px;
}

.content-footer ul {
  list-style: none;
  margin: 2px 5rem 2px 5rem;
}

.footer-image {
  width: 240px;
}

.footer-links ul li h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
}

.footer-list li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-list li a:hover {
  text-decoration: underline;
}

.copyright {
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 24px;
}

/* O menu mobile não aparece */
.mobile-menu-icon {
  display: none;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .name-cecode a {
    color: #1B71A3;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }

  .name-lab a {
    color: #1B71A3;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    margin-left: 2px;
  }

  .name-cecode a, .name-lab a {
    text-decoration: none;
  }

  .name-cecode a:hover, .name-lab a:hover {
    color: #1B71A3;
  }

  .nav-menu, .login-btn {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-mobile .login-btn button {
    width: 100%;
  }

  .menu-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .nav-menu-item {
    padding: 10px;
  }

  .login-btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-btn-mobile button {
    border: none;
    width: 100%;
    background-color: rgb(84, 188, 202);
    padding: 10px 15px;
  }

  .login-btn-mobile button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .content {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .info, .screeshot-system {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    border-radius: 44px;
    background: #F3F7FC;
    margin: 1rem;
  }

  .text-services {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .text-sing {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .screeshot-system div img {
    width: 80vh;
  }

  footer {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1B71A3;
    box-shadow: 4px 2px 3px 2px #464646;
  }

  .content-footer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin:24px;
  }

  .footer-image {
    width: 240px;
  }

  .footer-links ul li h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0px;
  }

  .footer-list {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .footer-list li {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .footer-list li a {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-list li a:hover {
    text-decoration: underline;
  }

  .copyright {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 24px;
  }

  .open {
    display: block;
  }
}