* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #464646;
}

main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.name-cecode a {
  color: #1b71a3;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-lab a {
  color: #1b71a3;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-left: 4px;
}

.name-cecode a,
.name-lab a {
  text-decoration: none;
}

.name-cecode a:hover,
.name-lab a:hover {
  color: #1b71a3;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-menu-item {
  margin: 0px 16px;
}

.menu-link {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 400;
  color: #1b71a3;
}

.menu-mobile:hover {
  border: #1b71a3;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login-btn button {
  background-color: #1b71a3;
  border: none;
  height: 126%;
  padding: 0 1rem;
}

.login-btn button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screeshot-system {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.screeshot-system img:hover {
  scale: 1.01;
}

.screeshot-system img {
  max-width: 100%;
  max-height: auto;
}

.text-top {
  display: flex;
  padding: 1rem;
}

.text-top p {
  width: 90%;
  color: #363434;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.text-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-services {
  list-style: none;
  list-style-position: inside;
  list-style-type: disclosure-closed;
}

.list-services li {
  padding: 0.3rem;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 1rem;
}

.text-sing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-sign-up {
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.text-sing-up {
  display: inline-block;
  width: 60%;
  color: #14627a;
  font-size: 1.1rem;
  font-weight: 600;
}

.signature {
  border: none;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: #1b71a3;
  padding: 0 1rem;
  cursor: pointer;
}

.signature:hover {
  background: #206186;
}

.signature a,
.signature a:visited {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.signature a:visited {
  text-decoration: none;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1b71a3;
  box-shadow: 4px 2px 3px 2px #464646;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  gap: 5rem;
}

.content-footer ul {
  list-style: none;
}

.footer-image {
  width: 14rem;
}

.footer-links ul li h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-list li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-list li a:hover {
  text-decoration: underline;
}

.copyright {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 24px;
}

.mobile-menu-icon {
  display: none;
}

.menu-mobile {
  display: none;
}

@media (max-width: 1300px) {
  main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .name-cecode a {
    color: #1b71a3;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .name-lab a {
    color: #1b71a3;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 2px;
  }

  .name-cecode a,
  .name-lab a {
    text-decoration: none;
  }

  .name-cecode a:hover,
  .name-lab a:hover {
    color: #1b71a3;
  }

  .nav-menu,
  .login-btn {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-mobile .login-btn button {
    width: 100%;
  }

  .menu-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .nav-menu-item {
    padding: 10px;
  }

  .login-btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-btn-mobile button {
    border: none;
    width: 100%;
    background-color: #1b71a3;
    padding: 10px 15px;
  }

  .login-btn-mobile button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .info {
    width: 100%;
  }

  .text-services {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .text-top p {
    text-align: center;
  }

  .screeshot-system div img {
    width: 45vh;
  }

  .content-footer,
  .copyright,
  .logo {
    flex-direction: column;
  }

  .copyright {
    text-align: center;
  }

  .content-footer {
    gap: 2.5rem;
  }
  .open {
    display: block;
  }
}
