* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }
body {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }
main {
    width: 100%;
  }
header {
    background: #1B71A3;
    padding: 20px;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.name-cecode {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.name-lab {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-left: 8px;
  }
.button-voltar {
  text-align: left; 
  margin-left: 2%; 
}
.sobre {
  display: flex;
  align-items: center;
}
.imagem_laboratorio {
  float: right;
}
.imagem_laboratorio img {
  height: auto;
}
.sobre h1 {
  color:#1B71A3;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 2%;
}
.sobre-p {
  color: rgb(66, 66, 66);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
}
.mvv {
  display: flex;
  align-items: center;
}
.imagem_mvv {
  float:left;
}
.imagem_mvv img {
  height: auto;
}
.mvv h2 {
  color:#1B71A3;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 2%;
}
.mvv h3 {
  color:black;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
}
.mvv p {
  color: rgb(66, 66, 66);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
}
.mvv li {
  color: rgb(66, 66, 66);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
  list-style: none;
}
.funcoes {
  display: flex;
  align-items: center;
}
.imagem_funcao {
  float:left;
}
.imagem_funcao img {
  height: auto;
}
.funcoes h2 {
  color:#1B71A3;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 2%;
}
.funcoes li {
  color: rgb(66, 66, 66);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
  list-style: none;
}
.beneficios {
  display: flex;
  align-items: center;
}
.imagem_beneficio {
  float:left;
}
.imagem_beneficio img {
  height: auto;
}
.beneficios h2 {
  color:#1B71A3;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 2%;
}
.beneficios li {
  color: rgb(66, 66, 66);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: justify;
  margin: 2%;
  list-style: none;
}
